.userHead{
    height: 70px;
    background-color:  #d0efff;
    display: flex;
 
}

.userHead a{
    margin-top: 20px ;
    color: #03254c;
    text-decoration: none;
    margin-left: 40px;
}

.userHead a:hover{
    font-size: larger;
}


